@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

.sub-container{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-right{
    display: flex;
    flex-direction: column;
}

#container-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 3vw;
    padding-top: 17vh;
    user-select: none;
    height: auto;
}

p{
    position: relative;
    animation: title-animation 6s linear infinite;
}

.gear{
    position: relative;
    font-size: 8.5vh;
    bottom: 1vh;
    }

p[title-1]{
    left: 4vw;
    font-family: "Schoolbell", serif;
    font-size: 8vh;
}

p[title-2]{
    font-family: "Allerta Stencil", serif;
    font-size: 15vh;
    animation-delay: 2s;
}

p[title-3]{
    left: 4vw;
    font-family: "Schoolbell", serif;
    font-size: 8vh;
    animation-delay: 4s;
}

@keyframes title-animation {
    0% {transform: scale(1);}
    16% {transform: scale(1.03);}
    31% {transform: scale(0.99);}
    35% {transform: scale(1);}
}

.button{
    all: unset;
    margin: 3vh;
    height: 10vh;
    width: 32vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
    transition: 0.15s ease;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(66, 75, 29);
    font-size: 3vh;
    border-radius: 6px;
    color: #36395a;
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    font-family: monospace;
    font-weight: 600;
    padding: 0 10px;

    background-color: var(--greenColor);
    color: var(--textColor);
    user-select: none;
}

a{
    all: unset;
}

.button:hover{
    box-shadow: 0px 4px 8px rgb(45 35 66 /60%), 0px 7px 11px -3px rgb(45 35 66 / 60%), inset 0px -3px 0px rgb(66, 75, 29);
    transform: translate(-1px, -5px);
}

#options-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 80vw;

    display: flex;
    flex-direction: column;
    z-index: 100000;

}

#options{
    border-radius: 5px;
    flex: 1;
    background-color: rgb(46, 46, 46, 0.8);
    margin-top: 1vh;
    padding: 1vh;
    user-select: none;
    font-size: 2vh;
    font-family: monospace;
    font-weight: 800;
    text-align: center;
}

#options-navbar{
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;

    background-color: rgb(46, 46, 46, 0.8);
    user-select: none;
}

.options-button{
    position: relative;
    background-color: var(--greenColor);
    border: none;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgb(29, 29, 29);
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 4px;
}

.options-button:hover{
    background-color: rgb(138, 160, 43);
}

.icon{
    font-size: 22px;
}

#options-text{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: monospace;
    font-size: 22px;
}

#right-load{
    height: 50vh;
    width: 25vw;
}

.load-navbar{
    background-color: rgb(46, 46, 46, 0.3);
    margin: 0 2vw 0 2vw;
    padding: 0.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.load-navbar-button{
    background-color: var(--greenColor);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 5vh;
    border-radius: 15px;
    user-select: none;
}

.load-navbar-button:hover{
    background-color: var(--greenColorHover);
}


span[save]{
    font-size: 3.5vh;
    font-family: monospace;
    user-select: none;
}

.load-container{
    margin: 2vh 2vw 2vh 2vw;
    height: 5vh;
    display: flex;
    align-items: center;
    padding: 0.5vh;
    background-color: rgb(46, 46, 46, 0.3);
    border-radius: 5px;
}

.load-button{
    width: 15vw;
    height: 100%;
    font-size: 3vh;
    background-color: var(--greenColor);
    border: none;
    border-radius: 5px;
    color: var(--textColor);
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
}

.load-button:hover{
    background-color: var(--greenColorHover);
}

.edit-button{
    background-color: var(--greenColor);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 5vh;
    border-radius: 15px;
    margin-left: 0.5vw;
    user-select: none;
}

.edit-button:hover{
    background-color: var(--greenColorHover);
}

.edit-icon{
    font-size: 3vh;
}

.button-test {
    font-size: 16px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}
.editable {
    border: 1px solid #000;
    background: #fff;
    padding: 8px;
    min-width: 100px;
    display: inline-block;
    text-align: center;
}

#explanation-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 80vw;

    display: flex;
    flex-direction: column;

}

#explanation-navbar{
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;

    background-color: rgb(46, 46, 46, 0.8);
    user-select: none;
}

#explanation-text{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: monospace;
    font-size: 22px;
}

#explanation{
    border-radius: 5px;
    flex: 1;
    background-color: rgb(46, 46, 46, 0.8);
    margin-top: 1vh;
    padding: 1vh;
    user-select: none;
    font-size: 2vh;
    font-family: monospace;
    font-weight: 800;
    height: 70vh;
    overflow-y: scroll;
}

.explanation-title{
    font-size: 3vh;
    color: var(--greenColorHover);
}

#upgrade-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 80vw;

    display: flex;
    flex-direction: column;
}

#upgrade-navbar{
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;

    background-color: rgb(46, 46, 46, 0.8);
    user-select: none;
}

#upgrade-text{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: monospace;
    font-size: 22px;
}

#upgrade{
    border-radius: 5px;
    flex: 1;
    background-color: rgb(46, 46, 46, 0.8);
    margin-top: 1vh;
    padding: 1vh;
    user-select: none;
    font-size: 2vh;
    font-family: monospace;
    font-weight: 800;
    height: 70vh;
}

#credits-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 80vw;

    display: flex;
    flex-direction: column;
    z-index: 1000000;
}

#credits-navbar{
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;

    background-color: rgb(46, 46, 46, 0.8);
    user-select: none;
}

#credits-text{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: monospace;
    font-size: 22px;
}

#credits{
    border-radius: 5px;
    flex: 1;
    background-color: rgb(46, 46, 46, 0.8);
    margin-top: 1vh;
    padding: 1vh;
    user-select: none;
    font-size: 2vh;
    font-family: monospace;
    font-weight: 800;
    height: 70vh;
    overflow-y: scroll;
}
